<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Bonuses</title>
</head>
<body>
    <header th:replace="~{fragments/employee_header ::employee_header}"></header>
    <h2>View Bonuses</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Bonus ID</th>
                <th>Employee ID</th>
                <th>Bonus Amount</th>
                <th>Bonus Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="bonus : ${bonuses}">
                <td th:text="${bonus.bonusId}"></td>
                <td th:text="${bonus.employeeId}"></td>
                <td th:text="${bonus.bonusAmount}"></td>
                <td th:text="${bonus.bonusReason}"></td>

            </tr>
        </tbody>
    </table>
</body>
</html>
