<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Attendance</title>
</head>
<body>
    <header th:replace="~{fragments/employee_header ::employee_header}"></header>
    <h2>Attendance </h2>
    <table border="1">
        <thead>
            <tr>
                <th>Attendance ID</th>
                <th>Employee ID</th>
                <th>Check-In</th>
                <th>Check-Out</th>
               
            </tr>
        </thead>
        <tbody>
            <tr th:each="attendance : ${attendances}">
                <td th:text="${attendance.attendanceId}"></td>
                <td th:text="${attendance.employeeId}"></td>
                <td th:text="${attendance.checkIn}"></td>
                <td th:text="${attendance.checkOut}"></td>
                
            </tr>
        </tbody>
    </table>
    
</body>
</html>
