<header th:fragment="hr_header">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      
      
      <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/hr/home}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/hr/queries}">View Queries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/hr/complaints}">View Complaints</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>